html,
body {
    height: 100%;
}

#content-container {
    min-height: 100%;
    margin: 0 0 -50px;
    padding-bottom: 65px;
}

.footer {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: #333333;
    color: #ffffff;
    padding: 5px 20px;
}

.footer span {
    vertical-align: middle;
}